{% extends "layout.html" %}
{% block title %}
flabo
{% endblock%}

{% block styling%}
.container{
border: 2px solid #dedede;
background-color: #dcf8c6;
border-radius: 5px;
padding: 10px;
margin: 10px 0;
}

{% endblock%}

{% block body %}
<div style="border: 2px solid ; display: flex; flex-wrap: wrap;">
    <div style="border: 2px solid green;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo excepturi autem voluptates, dolore nam officiis ipsum natus harum exercitationem laborum minima sapiente maiores fugiat adipisci dolorem recusandae explicabo cum ipsam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum praesentium maiores at deleniti quam impedit enim neque voluptatum fuga. Odit sint dignissimos adipisci explicabo! Provident libero nostrum numquam quidem deleniti!</div>
    
</div>
{%endblock%}